# Aqui vou fazer meus primeiros codigos em python usando a biblioteca pandas

## Importando o pandas

In [14]:
import pandas as pd # Renomeamos o pandas para pd apenas para ficar mais simples o código

## Criando dataframes

In [2]:
dataframe = pd.DataFrame () # Criamos um dataframe fazio

In [6]:
# Dicionario
venda = {"data": ["12/08/2024", "13/08/2024"],
         "valor": [500, 300],
         "produto": ["feijão", "arroz"],
         "qtde": [50, 70]
        }
vendas_df = pd.DataFrame (venda) # Criamos um dataframe chamado vendas_df usando o dicionario vendas
                                 # Usamos o sufixo _df apenas para ficar mais explicito que se trata de um dataframe

## Visualizando um dataframe

In [7]:
print (vendas_df)

         data  valor produto  qtde
0  12/08/2024    500  feijão    50
1  13/08/2024    300   arroz    70

In [8]:
display (vendas_df)

         data  valor produto  qtde
0  12/08/2024    500  feijão    50
1  13/08/2024    300   arroz    70

### print vs display
#### print 
Usar apenas o print retorna na tela apelas os dados em formato de tabelas no prompt de comando
#### display
Já os display retorna os dados tambem em uma tabela mas desssa vez melhor formatado e mais amigavel ao olhar

## Importando arquivos e bases de dados

In [17]:
# Caminho do arquivo .xlsx
file_path = r'C:\Users\Tchuba\Desktop\Git\cursos_livres\Introdução ao Pandas no Python\Vendas.xlsx'

# Importando o DataFrame
vendas_df = pd.read_excel(file_path)

# Exibindo o DataFrame
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266